<%= form_for :login, url: :sessions_create do |f| %>
  <p><%= f.label :username %>: <%= f.text_field :username %></p>
  <p><%= f.label :password %>: <%= f.password_field :password %></p>
  <%= recaptcha_tags%>
  <p><%= f.submit("login") %></p>
  <p><hr></p>
  <p>New to Showoff?<br>
  <button onclick="$('#user_management').hide();$('#users_register').show()" type="button" id="register">Register Now</button></p>
  <p>Forget your password?<br>
  <button onclick="$('#user_management').hide();$('#users_resetpwd').show()" type="button" id="resetpwd">Reset Password</button>
<% end %>