<h2>Hello World</h2>

<%=session[:user].inspect %>

<% if flash[:login_error] %>
  <p><%= flash[:login_error] %></p>
<% end %>

<%# @widgets_index['widgets'].each do |i, index| %>
<!--  ID: <%#= i['id']%>,-->
<!--  Name: <%#= i['name']%>,-->
<!--  description: <%#= i['description']%>,-->
<!--  kind：<%#= i['kind']%>,-->
<!--  userid：<%#= i['user']['id']%>,-->
<!--  first_name: <%#= i['user']['first_name']%>,-->
<!--  last_name: <%#= i['user']['last_name']%>,-->
<!--  owner: <%#= i['owner']%> </br>-->
<%# end %>

<%= form_for :session, url: :sessions_create do |f|%>
  <p>
    <%= f.label :username %><br>
    <%= f.text_field :username %>
  </p>

  <p>
    <%= f.label :password %><br>
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.submit("login") %>
  </p>
<% end %>


