<h2>Hello World</h2>

<%=@a.inspect %>

<% if flash[:login_error] %>
  <p><%= flash[:login_error] %></p>
<% end %>
<p><%= flash[:notice] %></p>
<% if session[:login_status] != 'login success' %>
  <button onclick="$('div#user_management').toggle()">Login</button> </br>
<% end %>

<div id="search">
  <%=form_for :search, url: :widget_search do |f| %>
    <%=f.label :term %>
    <%=f.text_field :term %>
    <%=f.submit("search") %>
  <%end %>
</div>

<div id="user_management" class="user_management" style="display: none">
  <div id="background_grey"></div>
  <div id="user_form">
    <span><button class="close-button" onclick="$('#user_management').hide()">X</button> </span>
    <%= form_for :login, url: :sessions_create do |f| %>
      <p><%= f.label :username %>: <%= f.text_field :username %></p>
      <p><%= f.label :password %>: <%= f.password_field :password %></p>
      <%= recaptcha_tags%>
      <p><%= f.submit("login") %></p>
      <p>New to Showoff?</p>
      <p><button onclick="$('#user_management').hide();$('#users_register').show()" type="button">Register Now</button></p>
      <p>Forget your password?</p>
      <button onclick="$('#user_management').hide();$('#users_resetpwd').show()" type="button">Reset Password</button>
    <% end %>
  </div>
</div>

<div id="users_resetpwd" class="user_management" style="display: none">
  <div id="background_grey"></div>
  <div id="user_form">
    <button class="close-button" onclick="$('#users_resetpwd').hide()">X</button>
    <%= form_for :resetpwd, url: :users_resetpwd do |f| %>
      <p><%= f.label :email %>: <%= f.text_field :email %></p>
      <p><%= recaptcha_tags %></p>
      <p><%= f.submit("submit") %></p>
    <% end %>
  </div>
</div>

<div id="users_register" class="user_management" style="display: none">
  <div id="background_grey"></div>
  <div id="user_form">
    <button class="close-button" onclick="$('#users_register').hide()">X</button>
    <%= form_for :register, url: :users_register do |f| %>
      <p><%= f.label :first_name %>: <%= f.text_field :first_name %></p>
      <p><%= f.label :last_name %>: <%= f.text_field :last_name %></p>
      <p><%= f.label :password %>: <%= f.password_field :password %></p>
      <p><%= f.label :email %>: <%= f.text_field :email %></p>
      <p><%= f.label :image_url %>: <%= f.text_field :image_url %></p>
      <p><%= recaptcha_tags %></p>
      <p><%= f.submit("submit") %></p>
    <% end %>
  </div>
</div>

<% if session[:userinfo] %>
  <div id="user_information" style="display: block">
    <table border="1" class="user_information">
      <tr><td colspan="4">Welcome, <%= session[:userinfo]['user']['name'] %></td></tr>
      <tr>
        <td><%=button_to 'My Widgets', users_index_me_url, method: :get %></td>
        <td><button onclick="$('#user_update').toggle();">Update Profile</button></td>
        <td><button onclick="$('#users_changepwd').toggle()">Change Password</button></td>
        <td><%=button_to 'Logout', sessions_logout_url%></td>
      </tr>
    </table>
  </div>

  <div id="user_update" class="user_management" style="display: none">
    <div id="background_grey"></div>
    <div id="user_form">
      <span>Update Profile</span>
      <button class="close-button" onclick="$('#user_update').hide()">X</button>
      <%= form_for :update_user, url: :users_update, method: :put do |f| %>
        <p><%= f.label :first_name %>
          : <%= f.text_field :first_name, :value => session[:userinfo]['user']['first_name'] %></p>
        <p><%= f.label :last_name %>
          : <%= f.text_field :last_name, :value => session[:userinfo]['user']['last_name'] %></p>
        <p><%= f.label :date_of_birth %>
          : <%= f.text_field :date_of_birth, :value => session[:userinfo]['user']['date_of_birth'] %></p>
        <p><%= f.label :image_url %>
          : <%= f.text_field :image_url, :value => session[:userinfo]['user']['image_url'] %></p>
        <p><%= f.submit("submit") %></p>
      <% end %>
    </div>
  </div>

  <div id="users_changepwd" class="user_management" style="display: none">
    <div id="background_grey"></div>
    <div id="user_form">
      <button class="close-button" onclick="$('#users_changepwd').hide()">X</button>
      <%= form_for :changepwd, url: :users_changepwd do |f| %>
        <p><%= f.label :current_password %>: <%= f.password_field :current_password %></p>
        <p><%= f.label :new_password %>: <%= f.password_field :new_password %></p>
        <p><%= f.submit("submit") %></p>
      <% end %>
    </div>
  </div>
<% end %>

<div>
  <% @widgets_view_public = @widgets_search if @widgets_search %>
  <table>
    <tr><th>ID</th><th>Name</th><th>Desc</th><th>user</th><th>owner</th></tr>
    <% @widgets_view_public['widgets'].each do |i, index| %>
      <tr>
        <td><%= i['id'] %></td>
        <td><%= i['name'] %></td>
        <td><%= i['description'] %></td>
        <td><%= i['user']['first_name']+' '+i['user']['last_name'] %></td>
        <td><%= i['owner'] %></td>
      </tr>
    <% end %>
  </table>
</div>




